* {
	-webkit-user-select: none !important;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	background-color: black; 
	font-family:trebuchet, helvetica, sans-serif;
}
p; a{
	font-size: 10px;
	color: #0033FF;
}
section {
	position: absolute;
	top: 60px;
	text-align: center;
	left: 0px;
	width: 100%;
	height:649px;
	overflow:scroll;
	border-bottom: 3px solid #0033FF;
}
#butFrwrd {
	position: absolute;
	bottom: 150px;
	left: 70px;
}
#butRight {
	position: absolute;
	bottom: 100px;
	left: 120px;
}
#butBckwrd {
	position: absolute;
	bottom: 50px;
	left: 70px;
}
#butLeft {
	position: absolute;
	bottom: 100px;
	left: 20px;
}
#butCamUp {
	position: absolute;
	bottom: 150px;
	right: 70px;;
}
#butCamMiddle {
	position: absolute;
	bottom: 100px;
	right: 70px;
}
#butCamDown {
	position: absolute;
	bottom: 50px;
	right: 70px;
}
#butCamRight {
	position: absolute;
	bottom: 100px;
	right: 20px;
}
#butCamLeft {
	position: absolute;
	bottom: 100px;
	right: 120px;
}
#angleTilt {
	position: absolute;
	bottom: 5px;
	right: 20%;
	color: #0033FF;
}
#anglePan {
	position: absolute;
	bottom: 5px;
	right: 10%;
	color: #0033FF;
}
.myButton {
	border: 2px solid #0033FF;
	width: 25px;
	height: 25px;
	padding: 10px;
	border-radius: 15px;
}
.myButton.pressed {
	border: 2px solid #003388;
}
.myButton img{
	width: 25px;
	height: 25px;
}
#auto {
	position: absolute;
	top: 100px;
	left: 30px;
}
.logo {
	position: absolute;
	bottom: 5px;
	right: 45%;
}
.webcam {
	position: absolute;
	display: block;
	width: 100%; 
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: white;
	border-bottom: 2px solid #0033FF;
}
#video_robot {
	position: absolute;
	top: 30%;
	right: 20%;
}
#drive_robot {
	position: absolute;
	top: 30%;
	left: 20%;
}
#logo img{
	position:absolute;
	top: 0px;
	left: 0px;
	width: 120px;
	height: 40px;
}
#foot {
	width: 100%;
	height: 33px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-top:3px solid #0033FF;
}
#foot img {
	width: 33px;
	height: 33px;
	position: absolute;
}
#foot a {
	font-size: 23px;
	display: block;
	bottom: 0px;
	text-align: center;
	color: #0033FF;
	margin-bottom: 0px;
}
#toolbar {
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
	border-bottom:3px solid #0033FF;
	padding-bottom: 0px;
}
#toolbar a {
	font-size: 30px;
	display: block;
	top: 0px;
	text-align: center;
	color: #0033FF;
}
#ico_bck img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	left: 5px;
}
#ico_pwr img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	left: 15%;
}
#ico_led img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	left: 30%;
}
#ico_video img{
	position: absolute;
	top: -2px;
	right: 46%;
	width: 46px;
	height: 40px;
}
#ico_rec img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 30%;
}
#ico_photo img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 15%;
}
#ico_setting img{
	width: 33px;
	height: 33px;
	position: absolute;
	top: 0px;
	right: 5px;
}
#ico_delete img{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 80px;
	right: 50px;
}
#ico_cloud img{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 140px;
	right: 50px;
}
#ico_twit img{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 200px;
	right: 50px;
}
#div_dist img{
	position: absolute;
	bottom: 0px;
	left: 10px;
}
#div_dist p{
	position: absolute;
	left: 7%;
	bottom: 0px;
	font-size: 25px;
	margin-bottom: 0px;
}
#div_vit img{
	position: absolute;
	bottom: 0px;
	left: 18%;
}
#div_vit p{
	position: absolute;
	left: 23%;
	bottom: 0px;
	font-size: 25px;
	margin-bottom: 0px;
}
#angleT img{
	position: absolute;
	bottom: 0px;
	right: 20%;
}
#angleT p{
	position: absolute;
	bottom: 0px;
	right: 15%;
	font-size: 25px;
	margin-bottom: 3px;
}
#angleP img{
	position: absolute;
	bottom: 0px;
	right: 10%;
}
#angleP p{
	position: absolute;
	bottom: 0px;
	right: 5%;
	font-size: 25px;
	margin-bottom: 3px;
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
section img {
	border: 3px solid #0033FF;
	border-radius: 10px;
}
