*
{
    -webkit-user-select: none;
}
body
{
    background-image: url("images/wallpaper-black.jpg");
    font-family:trebuchet, helvetica, sans-serif;
}
	a {
		font-size: 20px;
		color: rgba(0,0,0,0.6);
		text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
	}
	#butFrwrd {
		position: absolute;
		bottom: 140px;
		left: 95px;
	}
	#butFrwrdRight {
		position: absolute;
		bottom: 140px;
		left: 160px;
	}
	#butRight {
		position: absolute;
		bottom: 75px;
		left: 160px;
	}
	#butBckwrdRight {
		position: absolute;
		bottom: 10px;
		left: 160px;
	}
	#butBckwrd {
		position: absolute;
		bottom: 10px;
		left: 95px;
	}
	#butBckwrdLeft {
		position: absolute;
		bottom: 10px;
		left: 30px;
	}
	#butLeft {
		position: absolute;
		bottom: 75px;
		left: 30px;
	}
	#butFrwrdLeft {
		position: absolute;
		bottom: 140px;
		left: 30px;
	}
	#butCamUp {
		position: absolute;
		bottom: 140px;
		right: 30px;
	}
	#butCamMiddle {
		position: absolute;
		bottom: 75px;
		right: 30px;
	}
	#butCamDown {
		position: absolute;
		bottom: 10px;
		right: 30px;
	}
	.myButton {
		border: 4px outset #c0c0c0;
		background-color: #e0e0e0;
		width: 35px;
		height: 35px;
		padding: 10px;
		text-align: center;
		border-radius: 15px;
	}

	.myButton.pressed {
		border: 4px inset #c0c0c0;
		background-color: #808080;
	}
	.power
	{
		position: absolute;
		top: 5px;
		left: 30px;
	}
	.led
	{
		position: absolute;
		top: 5px;
		right: 30px;
	}
	.auto
	{
		position: absolute;
		top: 100px;
		left: 30px;
	}
	.logo
	{
		position: absolute;
		bottom: 5px;
		right: 46%;
	}
	.webcam
	{
		border: 4px outset #c0c0c0;
		border-radius: 10px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 530px; 
		height: 340px;
		background-color: #e0e0e0;
	}
	.onoff
	{
		width: 60px;
		height: 60px;
		padding: 1px 2px 2px 2px;
		font-size: 10px;
		background-color: #e0e0e0;
		text-align: center;
		border-radius: 15px;
		border: 4px outset #c0c0c0;
		margin: 0 auto;
	}
	.onoff div
	{
		width: 44px;
		height: 44px;
		min-height: 34px;
		background: #e0e0e0;
		overflow: hidden;
		border: 1px inset #c0c0c0;
		margin: 0 auto;
		display: table-cell;
		vertical-align: middle;
		color: black;
		border-radius: 10px;
		text-align: center;
		font-size: 18px;
	}
