*
{
    -webkit-user-select: none;
}
body
{
    background: url('images/background.jpg');
    font-family:trebuchet, helvetica, sans-serif;
}

center{font-size: 10px;}

#container 
{
    position : absolute;
    bottom: 0px;
    left: 0px;
}
.onoff
{
    width: 40px;
    height: 40px;
    padding: 1px 2px 2px 2px;
    font-size: 10px;
    background: #028E9B;
    text-align: center;
    border-radius: 2px;
    border: 2px solid white;
    margin: 0 auto;
}
.onoff div
{
    width: 24px;
    height: 24px;
    min-height: 24px;
    background: #028E9B;
    overflow: hidden;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin: 0 auto;
    color: black;
    border-radius: 2px;
}
.onoffauto
{
width: 40px;
height: 40px;
padding: 1px 2px 2px 2px;
font-size: 10px;
background: #028E9B;
text-align: center;
border-radius: 2px;
border: 2px solid white;
margin: 0 auto;
}
.onoffauto div
{
width: 24px;
height: 24px;
min-height: 24px;
background: #028E9B;
overflow: hidden;
border-top: 1px solid black;
border-left: 1px solid black;
border-right: 1px solid white;
border-bottom: 1px solid white;
margin: 0 auto;
color: black;
border-radius: 2px;
}
.power
{
    position: absolute;
    top: 0px;
    left: 10px;
}
.auto
{
    position: absolute;
    top: 0px;
    left: 43%;
}
.led
{
    position: absolute;
    top: 0px;
    right: 10px;
}
.logo
{
    position: absolute;
    bottom: 0px;
    right: 36%;
}
.webcam
{
    border-radius: 3px;
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}
.window
{
    border-top: 55px solid transparent;
}
