*
{
    -webkit-user-select: none;
}
body
{
    background: url('images/background.jpg');
    font-family:trebuchet, helvetica, sans-serif;
}

center{font-size: 10px;}

#butFrwrd {
		position: absolute;
		bottom: 140px;
		left: 75px;
	}
	#butFrwrdRight {
		position: absolute;
		bottom: 140px;
		left: 140px;
	}
	#butRight {
		position: absolute;
		bottom: 75px;
		left: 140px;
	}
	#butBckwrdRight {
		position: absolute;
		bottom: 10px;
		left: 140px;
	}
	#butBckwrd {
		position: absolute;
		bottom: 10px;
		left: 75px;
	}
	#butBckwrdLeft {
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	#butLeft {
		position: absolute;
		bottom: 75px;
		left: 10px;
	}
	#butFrwrdLeft {
		position: absolute;
		bottom: 140px;
		left: 10px;
	}
	.myButton {
		border: 4px outset #c0c0c0;
		background-color: #e0e0e0;
		width: 35px;
		height: 35px;
		padding: 10px;
		text-align: center;
		border-radius: 15px;
	}

	.myButton.pressed {
		border: 4px inset #c0c0c0;
		background-color: #808080;
	}
	.onoff
	{
		width: 60px;
		height: 60px;
		padding: 1px 2px 2px 2px;
		font-size: 10px;
		background-color: #e0e0e0;
		text-align: center;
		border-radius: 15px;
		border: 4px outset #c0c0c0;
		margin: 0 auto;
	}
	.onoff div
	{
		width: 44px;
		height: 44px;
		min-height: 34px;
		background: #e0e0e0;
		overflow: hidden;
		border: 1px inset #c0c0c0;
		margin: 0 auto;
		display: table-cell;
		vertical-align: middle;
		color: black;
		border-radius: 10px;
		text-align: center;
		font-size: 18px;
	}
.power
{
    position: absolute;
    top: 0px;
    left: 10px;
}
.auto
{
    position: absolute;
    top: 0px;
    left: 43%;
}
.led
{
    position: absolute;
    top: 0px;
    right: 10px;
}
.logo
{
    position: absolute;
    bottom: 0px;
    right: 36%;
}
.webcam
{
    border-radius: 3px;
    border: 3px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 200px;
}
.window
{
    border-top: 55px solid transparent;
}
